// Microsoft Visual C++ generated resource script.
//
#define APSTUDIO_READONLY_SYMBOLS
#include <winresrc.h>
#include <moduleconfig.h>
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif //_WIN32

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,2,0,0
 PRODUCTVERSION 1,2,0,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x4L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "AMX Mod X In-RAM Transient Storage Module"
            VALUE "FileDescription", "MemStore Module for AMX Mod X"
            VALUE "FileVersion", "1.2.0"
            VALUE "InternalName", "memstore"
            VALUE "LegalCopyright", "Copyright (c) 2026 iceeedR"
            VALUE "OriginalFilename", "memstore_amxx.dll"
            VALUE "ProductName", "MemStore"
            VALUE "ProductVersion", "1.2.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
#endif
